{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ITOM - Dalet IT Operations Managment</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!---Material icons-->
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">

    <!--FonAwsom cdn-->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!--DateTimePicker Plugin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" integrity="sha256-kIxwtDqhOVbQysWu0OpR9QfijdXCfqvXgAUJuv7Uxmg=" crossorigin="anonymous" />
    
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                    
                                
                               
                        <img src="{% static 'img/logo-icon.png' %}" class="light-logo" class="logo_name"/>
                        
                        <img src="{% static 'img/logo-text.png' %}" alt="homepage" class="logo_d" />
                                
                        
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="{% url 'index'%}">
                        <i class="mdi mdi-view-dashboard"></i>
                        Dashboard
                    </a>
                    
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-atom"></i>
                        Tasks Managment
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="{% url 'task_view'%}"><i class="fas fa-tasks"></i> Tasks View</a>
                        </li>
                        <li>
                            <a href="{% url 'create_task'%}"><i class="fas fa-calendar-plus"></i>Create New Task</a>
                        </li>

                        <li>
                            <a href="{% url 'update_task'%}"><i class="fas fa-edit"></i>Update Task</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-magic"></i> Task Create Wizard</a>
                        </li>
                    </ul>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fab fa-schlix"></i>
                        IT Links
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#"><i class="fas fa-network-wired"></i> Network Managment</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-server"></i> Systems Managment</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-cloud"></i> Virtualization Managment</a>
                        </li>

                        <li>
                            <a href="#"><i class="fas fa-lock"></i> Security Managment</a>
                        </li>

                        <li>
                                <a href="#"><i class="fas fa-tape"></i> Backup Managment</a>
                            </li>
                        
                        <li>
                            <a href="#"><i class="fas fa-link"></i> Add New Link</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-cogs"></i>
                        Settings
                    </a>
                </li>
                
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    
                    <button type="button" class="btn btn-outline-secondary btn-block bg-light" data-toggle="modal" data-target="#ItTeamModal"><i class="fas fa-users"></i> The IT Team</button>
                </li>
                
            </ul>
        </nav>
<!---The Modal section-->
<!-- The Modal -->
<section id="teamit">
        <div class="modal fade" id="ItTeamModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title" style="margin: 0 auto;">The IT Team</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                  <!---content here-->
                  
                  
                  
      <!---modal content-->
      {% block modal %}
      
      
                          
    {% endblock modal %} 
    <!---end of modal content-->
                         <!---End of card content-->    
                     
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
              
            </div>
          </div>
        </div>
      </section>
<!---End of The section -->
        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top" id="topnav">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link text-light ml-10" href="#"><i class="fas fa-home"></i> Home</a>
                            </li>
                            
                            
                               <!---User logon section-->
                               <li class="nav-item dropdown pr-4">
                                    <a class="nav-link dropdown-toggle text-light usr-icn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-user-circle text-white"></i> User
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                      
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item" href="#"><i class="fas fa-power-off text-danger"></i> LogOut</a>
                                    </div>
                                  </li>
                               <!---End of logon user section-->
                               
                            
                        </ul>
                    </div>
                </div>
            </nav>
            

            <{% block content %}


            {% endblock content %}
            
        </div>
        
    </div>
    

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js" integrity="sha512-eUQ9hGdLjBjY3F41CScH3UX+4JDSI9zXeroz7hJ+RteoCaY+GP/LDoM8AO+Pt+DRFw3nXqsjh9Zsts8hnYv8/A==" crossorigin="anonymous"></script>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--Date Time Picker Plugin-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

<script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();   
        });
        </script>


<!--slider script-->
<script type="text/javascript" src="{% static 'js/range.js' %}"></script>
<!--task view script-->
<script type="text/javascript" src="{% static 'js/accordin_script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <!--Basic Table-->

    
    <script type="text/javascript">
       
        $(document).ready(function() {
          $('#zero_config').DataTable();
      } );
    </script>
<!--End task view script-->
<!--date time picket script-->
<script type="text/javascript">
    $('#picker').datetimepicker({
        timepicker: true,
        datepicker: true,
        
        hours12: true,
    })
      
</script>
<!--end Date Time Picker-->

<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 3000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>
</body>

</html>